<div class="home-overlay-wrapper">
    <div class="home-overlay">
        <!-- logo -->
        <img src="/static/indigo/images/LogoonWhite.png" />
        <br />
        <h3>Generate Breakthrough Ideas & Become<br />AI-Proficient &hyphen; Faster Than Ever</h3>
        <br />
        <p>An online course that prepares learners to develop, pitch, and execute AI-driven projects.</p>
        <br />
        <br />
        <div class="overlay-box">
            <h1 class="white">What you will learn</h1>
            <br />
            <p>
                <h5 class="white">High-Impact, Real-World Skills:</h5>
                <span>Teaches participants how to generate actual business deliverables (press releases, marketing outlines, risk plans, financials) with AI, ensuring readiness for Hackathons or internal innovation challenges.</span>
            </p>
            <br />
            <div class="line"></div>
            <br />
            <p>
                <h5 class="white">Rapid Time to Value:</h5>
                <span>Short modules and immediate hands-on exercises let learners quickly master prompt engineering.</span>
            </p>
            <br />
            <div class="line"></div>
            <br />
            <p>
                <h5 class="white">Future Scalability:</h5>
                <span>Continual updates, new articles, and potential audio features create an evolving learning platform.</span>
            </p>
        </div>
        <br />
        <br />
        <br />
        <div>
            <h3>Courses for Everyone</h3>
            <br />
            <p>It doesn’t Matter your skill level, you can start where you feel comfortable and progress. or start at the beginning and get a refresher.</p>
            <br />
            <br />
            <div class="register-btn-wrapper">
                <a class="register-btn btn" href="/register?next=%2F">Register</a>
            </div>
        </div>
    </div>
</div>